img{
    max-width: 100%;
    max-width: 100%;
}

/*button used to drag the window*/
.dragbox{
    -webkit-app-region: drag;
    position: absolute;
    z-index: 23;

}
.dragbox img{
    width: 6vh;
    height: 6vh;
}

/*div used to triger the hover*/
#menu{
       
    background-color: transparent;
    height: 100vh;
    width: 60px;
    float: right;
    z-index: 22;
    position: relative;
    
    
}

#volume-bar{
    -webkit-appearance: slider-vertical;
    transform: translate(700%)/*rotate(-90deg)*/;
    width: 10px;
    height: 76px;
    border-radius: 5px;
    cursor: pointer;
    background: #4CAF50;
    outline: none;
    
}

.menu-btn{
    position: relative;
    transform: translate(100px, 0px);
    transition: 0.5s;
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    
}

#menu:hover #close-btn{
    transform: translate(0px, 0px);
    
}

#menu:hover #volume-bar{
    transform: translate(125%)/*rotate(-90deg)*/;
    transition-delay: 0.1s;
    
}

/*
#close-btn #volume-bar {
    
    background-color: #353535;
    height: 100vh;
    width: 60px;
    float: right;
    z-index: 20;
    position: relative;
    right: -100px;
    transition: 0.5s;
    text-align: center;
    font-family: sans-serif;
}

#menu:hover #close-btn #volume-bar {
    
    right: 0px;
}
#menubar button{
    margin: 10px;
}
#menubar div{
    margin: 10px;
}
#close-btn img{
    width: 5vh;
    height: 5vh;
}
.input-range{
    transform: rotate(-90deg);
    margin: 50%;
    transform: translate(2,0)
    
}*/




#bodyCover{
    cursor: auto;
    padding: 0;
    margin: 0;
    color: white;
    overflow:hidden;
    background-color: black;
}

.videoFrame{
    position: absolute; 
    z-index: -22;
    
    width: 100%; 
    height: 100%
}


.middle{
    position: absolute;
    top: 25%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 200%);
}
#urlInput{
    height: 5vh;
    width: 50vh;
    align-content: center;
    text-align: center;
    
}
.inner{
    padding: 10px;
    margin: 5px;
    color:transparent;
    font-family: sans-serif, Helvetica, sans-serif;
    
    
    
}
.inner input::placeholder{
    color: transparent;
    font-size: 4vh;
}
.inner input:hover::placeholder{
    color: black;
}
#urlInput:focus::-webkit-input-placeholder{
    color: transparent;
}
.inner:hover {
    
    color: black;
    background-color: white;
    border-radius: 50px;
    font-family: sans-serif, Helvetica, sans-serif;
    padding: 10px;
    margin: 5px;

    
}
.inner input{
    border: none;
    outline: none;
    background: none;
    font-size: 25px;
    text-align: center;
    color: transparent;
}
.inner input:hover{
    border: none;
    outline: none;
    background: none;
    font-size: 25px;
    text-align: center;
    color: black;
}

.cover{
    background-color: black;
    position:fixed;
    height: 100%;
    width: 100%;
}

/*#volume-bar {
    -webkit-appearance: none;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  #volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
  #volume-bar::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }*/